// Common variables
// --------------------------------------------------
// Set default config

/// Set default config
// --------------------------------------------------
$set-use-rems: true;

///Colors variables
//----------------------------------------------------
$font-primary: #607d8b;
$font-secunday: #eeeeee;

$link-primary-hover: #039be5;


$backbase: #eeeeee;
$nav-hover: #cfd8dc;
$selected-hover: #BBD8DC;
$li-selected: #dddddd;

$white: white;