label {
  display: inline-block;
  width: rem( 48px );
  margin: rem( 6px ) 0;
  font-weight: bold;
  color: $font-primary;
}

input {
  height: rem( 24px );
  padding-left: rem( 5px );
  font-size: rem( 12px );
}

button {
  margin-top: rem( 20px );
  padding: rem( 5px ) rem( 10px );
  border: 0;
  font-family: Arial;
  border-radius: rem( 4px ); 
  background-color: $backbase;
  cursor: pointer;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: $backbase;
    color: $font-secunday; 
    cursor: auto;
  }
}


